<div class="user-form complete-account-form">
  <div class="content">
    <div class="box-header">
      <h3>Complete Your Account</h3>
    </div>
    <div class="account-teaser box-section">
      <div class="row">
        <div class="col-lg-4">
          <span class="field-label">Name</span>
          <span class="field-value">{{values.name.first}} {{values.name.last}}</span>
        </div>
        <div class="col-lg-8">
          <span class="field-label">Email Address</span>
          <span class="field-value">{{values.email}}</span>
        </div>
      </div>
    </div>
    <div class="box-section">
      <p class="instructions">{{#if welcomeMessage}}{{{welcomeMessage}}}{{else}}Welcome! To complete the account registration process please choose a username and password below.{{/if}}</p>
      <form class="complete account" id="activate" method="POST">
        <div class="form-group{{#if formErrors.username}} has-error{{/if}} username">
          <label class="form-label field-label" for="username">Username</label>
          <div class="controls">
            <input name="username" class="form-control" value="{{values.username}}">
            {{#if formErrors.username}} <span class="help-inline">{{formErrors.username}}</span>{{/if}}
          </div>
        </div>
        <div class="form-group{{#if formErrors.pass}} has-error{{/if}} pass">
          <div class="controls">
            <input name="pass" type="password" class="form-control" placeholder="Password">
            {{#if formErrors.pass}} <span class="help-inline">{{formErrors.pass}}</span>{{/if}}
          </div>
        </div>
        <div class="form-group{{#if formErrors.pass2}} has-error{{/if}} pass2">
          <div class="controls">
            <input name="pass2" type="password" class="form-control" placeholder="Re-enter password">
            {{#if formErrors.pass2}} <span class="help-inline">{{formErrors.pass2}}</span>{{/if}}
          </div>
        </div>
        {{> users/partials/extraFields}}
        <div class="form-group submit">
          <div class="controls clearfix">
            <input type="submit" class="btn btn-primary pull-right log-in-button" value="Get Started">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>